table {
    width: 100%;
    border: 4px double black;
    border-collapse: collapse;
}
th {
    text-align: left;
    background: #ccc;
    padding: 5px;
    border: 1px solid black;
}
td {
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid black;
}
.filter{
    display: block;
    margin: 10px auto;
}
.filter-table td {
    padding-left: 0px;
}

